.info-box {
	position: fixed;
	top: 100px;
	left: calc(10px + env(safe-area-inset-left));
	background-color: rgba(255,255,255,0.7);
	padding: 20px;
	white-space: pre-wrap;
	max-width: 300px;
	font-family: Arial,Meiryo,"Microsoft Yahei";
	pointer-events: none;
}
.reward-select {
	position: fixed;
	top: 65px;
	left: calc(10px + env(safe-area-inset-left));
}
.map-select {
	position: fixed;
	top: 30px;
	left: calc(10px + env(safe-area-inset-left));
}
.zoom-button-group {
	position: fixed;
	bottom: 10px;
	right: calc(10px + env(safe-area-inset-right));
}
.zoom-button-group button {
	margin-top: 10px;
	width: 40px;
	height: 40px;
	padding: 0;
}